/*


[ BUTTONS ]

Project:        Golden Media Group ( G.M.G. )
Primary use:    Landing page

File's name:    buttons.css
Description:    Stylesheets for buttons.
Version:        1.1
Created:        04/06/2018
Last change:    [ none ]

Creator:        Antocha
IM:             contactme69 
Email:          myemail@contact.com
Spec:           https://www.linkwebpage.com


*/




.button-small,
.button-normal,
.button-big {
  border  : none;
  background-color : orange;
}

.button-small {
  width   : 150px;
  height  : 30px;
  padding : 8px;
  cursor  : pointer;
  clear   : both;
}
 
.button-normal {
  width  : 236px;
  height : 44px;
}

.button-big {
  width   : 400px;
  padding : 10px 0px 10px 0px;
}



















































































































































































































































































































































































































































































































































